/* *{
    margin: 0px;
    padding: 0px;
} */
body{
    margin: 0px;
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.text-c{
    color: #8c8b8d;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 10px auto;
}
.content,.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content{
    flex-wrap: wrap-reverse;
}
.heder,.main-heder{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.main-heder{
    display: flex;
    flex-wrap: wrap;
}
.main-heder>.logo{
    margin: 15px;
    margin-right: 25px;
}
.contacts,.contacts>.right,.contacts>.right>.ru,.contacts>.right>.uk{
    margin: 0px;
    margin-right: 15px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.contacts>.right{
    flex-direction: column;
}
.contacts>.left{
    margin-right: 25px;
}
.uk>p,.ru>p,.left>p{
    margin: 0px;
    text-align: right;
}
.caption{
    text-align: center;
}
.block-left, .block-right{
    margin: 10px;
    max-width: 600px;
    list-style-image: url("../img/list-style-img.png");
}
.block-left>ul>li{
    max-width: 570px;
    margin: 15px;
    margin-right: 40px;
}
.block-left>ul{
    padding-left: 15px;
}
.block-left>ul>li>p{
    margin: 0px;
    margin-right: 10px;
}
.block-left>h2{
    margin: 10px;
    margin-top: 0px;
}
.ticket{
    width: 570px;
    height: 226px;
    margin: 10px;
    background-image: url("../img/image.png");
    background-size: cover;
}
.for,.date,.member{
    display: flex;
}
.for>p,.date>p,.member>p{
 margin:10px;
}
.for>p.text-c,.member>p.text-c,.date>p.text-c{
    color: #f1c2ab;
    margin-left: 25px;
}
p.date{
    background-color: #fff;
    color: #000;
    margin-left: 0px;
    padding: 3px 25px 1px 4px;
}
.member{
    flex-direction: column;
}
.member>h2{
    margin: 0px 25px;
}
.code>img{
    margin: 15px 25px;
}
.price{
    margin: 10px;
}
.price>p{
    margin: 0px;
    margin-bottom: 25px;
    display: inline-block;
}.price>p.text-c{
    color: #f26722;
    font-size: 1.5em;
}
/* Form */
.block-right>.form{
    max-width: 590px;
    border: 3px solid #ff6700;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form{
    margin: 10px;
    margin-bottom: 40px;
}
.form>form>input{
    width: 90%;
    height: 50px;
    margin: 10px;
    padding: 0px 25px;
    background: -moz-linear-gradient(left, #f26722 0%, #ffa000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f26722 0%,#ffa000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f26722 0%,#ffa000 100%);
    border: 1px solid transparent;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
}
.form>form>.input{
    margin-top: 45px;
    width: 75%;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
}
.link{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-content: center
}
.link>img{
    width: 28px;
    height: 30px;
}
.form>form>.link>a,.form>form>.link>a:visited{
    margin: 10px;
    color: #fff;
}
.foother{
    margin: 25px 25px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end ;
    justify-content: center;
    font-size: .8em;
    color: #8c8b8d;
}
.foother>ul{
    margin: 15px;
    padding: 0px;
    text-align: center;
}
.foother>ul>li{
    display: inline-block;
    list-style: none;
    margin: 10px 0px;
}
.foother>ul>li>a,.foother>ul>li>a:visited{
    color: #8c8b8d;
    text-align: center;
}
input::-moz-placeholder { color: #fff; opacity: 1; }
input::-webkit-input-placeholder { color: #fff; opacity: 1;}

@media only screen and (max-width:1090px){
.heder,.main-heder,.foother{
    justify-content: center;
}
.block-left>ul>li{
    max-width: 570px;
    margin: 15px;
    margin-right: 20px;
}
.ticket{
    width: auto;
    height: auto;
    max-width: 560px;
    max-height: 216px;
}
}