body {
  background: #241F20;
  font-family: Circe,Arial,Helvetica,sans-serif;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
p {
  margin-bottom: 0;
}
.thanks__block p {
  margin-bottom: 0;
}
.gradient-border {
  padding: 40px 50px;
  position: relative;
  h1 {
    color: #ffffff;
    font-family: Circe,Arial,Helvetica,sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    margin: 0;
  }
  p {
    color: #ffffff;
    font-family: Circe,Arial,Helvetica,sans-serif;
    font-size: 24px;
    margin: 0;
    font-weight: 400;
  }
  &-top {
    height: 10px;
    background: linear-gradient(to right, rgba(255,102,0,1) 0%,rgba(255,102,0,1) 60%,rgba(255,102,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &-left {
    width: 10px;
    background: rgba(255,102,0,1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  &-bottom {
    height: 10px;
    background: linear-gradient(to right, rgba(255,102,0,1) 0%,rgba(255,102,0,1) 50%,rgba(255,102,0,0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.last-step {
  margin-top: 80px;
  font-size: 24px;
  &-big {
    color: #fff;
    font-family: Circe, sans-serif;
    font-size: 45px;
    font-weight: 800;
    display: inline-block;
    background-color: rgba(255,102,0,1);
    padding: 10px 10px 8px 10px;
    line-height: 1;
  }
  &-small {
    color: #c7c7c7;
  }
  &-medium {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.thanks__block {
  margin-top: 45px;
}
.thanks-page {
  background: url(../img/bg.png) no-repeat center top / contain, url(../img/bg-big.png) no-repeat center center / cover;
}
.pricelist__item__title {
  height: auto;
  padding-bottom: 10px;
}
.pricelist__item:first-child, .pricelist__item:nth-child(2), .pricelist__item {
  height: auto;
}
.pricelist__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .btn-orange2 {
    position: static;
    bottom: auto;
    left: auto;
    margin: 5px auto 20px;
    line-height: 1;
    width: auto;
    height: auto;
    padding: 15px;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.price-block {
  margin-top: auto;
  &-desc {
    color: #868787 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  &-small {
    font-weight: 700 !important;
    color: #000000 !important;
  }
  &-big {
    color: #ff6600 !important;
    font-size: 36px !important;
    font-weight: 700 !important;
  }
}
.pricelist {
  align-items: stretch;
}
@media (min-width: 769px) {
  .price__timeline {
    padding-bottom: 213px;
  }
  .thanks__block .text {

    color: #43403f;
  }
  .timeline_note {
    color: #43403f;
  }
  .timeline__dot-big__rounds,
  .timeline__dot-big__rounds::after, .timeline__dot-big__rounds::before{
    border-color: #43403f;
  }
  .timeline__dot-big__price {
    color: #43403f;
  }
  .timeline__line-down, .timeline__line-up {
    background-color: #43403f;
  }
  .timeline__dot-small {
    display: none;
  }
  .timeline__line-5 {
    bottom: 31.8%;
  }
  .timeline__line-7 {
    left: 73.5%;
    bottom: 102px;
    width: 13.5%;
  }
  .timeline__dot-big__date,
  .timeline__dot-big.dot-orange .timeline__dot-big__price {
    color: #43403f;
  }
  .thanks__block p.chart-text {
    margin-top: 120px;
    color: #282828;
    font-size: 14px;
    font-weight: 400;
    strong {
      font-weight: 800;
    }
  }
}
@media (max-width: 1024px) {
  .timeline__line-7 {
    left: 73.5%;
    bottom: 95px;
    width: 13.5%;
  }
  .timeline__line-5 {
    bottom: 29.6%;
  }
}
.big-title {
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  span {
    color: #ff6600;
  }
}
.light-text p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
}
.bonus {
  &-block {
    background-color: #1d1919;
    color: #999999;
    margin-top: 180px;
  }
  &-title {
    color: #ffffff;
    padding: 0 30px;
    font-size: 20px;
    span {
      font-weight: 900;
    }
  }
  &-text {
    font-size: 16px;
    padding: 0 30px;
  }
  &-free {
    padding: 17px 30px 15px;
    background: linear-gradient(to right, rgba(47,47,47,1) 0%,rgba(47,47,47,1) 27%,rgba(47,47,47,0) 100%);
    .primary {
      font-weight: 900;
    }
  }
  &-img {
    margin: -150px auto 20px;
    height: 392px;
    width: auto;
  }
}
.primary {
  color: #ff6600 !important;
}
.usually-cost {
  color: #ffffff;
  span {
    font-weight: 900;
  }
}
.pricelist__item__title {
  position: relative;
  .black-block {
    font-size: 12px;
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    padding: 3px 10px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: -10px;
    right: 0;
  }
}
.modal__partners {
  max-width: 950px;
  width: 100%;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  height: 460px;
}
.btn-orange3 {
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}
.not-all {
  padding: 80px 0;
  background: rgba(#181515,.6);
  .primary {
    font-size: 45px;
    font-weight: 800;
  }
  p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
  }
  &-item {
    position: relative;
    padding: 50px 30px 70px 90px;

    &s{
      margin-top: 70px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
    }
    p {
      position: relative;
      z-index: 2;
      font-size: 30px;
      font-weight: 300;
      .primary {
        font-size: 30px;
      }
    }
  }
  &-top {
    height: 10px;
    background: linear-gradient(to left, rgba(255,102,0,1) 0%,rgba(255,102,0,0) 80%,rgba(255,102,0,0) 100%);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
  &-bottom {
    height: 10px;
    background: linear-gradient(to left, rgba(255,102,0,1) 0%,rgba(255,102,0,0) 90%,rgba(255,102,0,0) 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  &-right {
    width: 10px;
    background: rgba(255,102,0,1);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
.modal__partners .modal__title {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.corp-offer {
  padding: 80px 0 100px;
}
@media (max-width: 768px) {
  .timeline__line-7 {
    left: 73.5%;
    bottom: 44%;
    width: 12.5%;
  }
  .timeline__line-5 {
    bottom: 29.6%;
  }
  .timeline_note {
    transform: translateY(80%);
    font-size: 24px;
  }
  .chart-text {
    margin-top: 50px !important;
  }
  .big-title {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .light-text p {
    font-size: 18px;
  }
  .modal__title-text {
    display: none;
  }
  .modal__partners form{
    padding-top: 50px;
  }
}

@media (max-width: 420px) {
  .pricelist__item {
    padding-bottom: 0;
  }
  .gradient-border {
    margin-top: 40px;
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
  .last-step-big {
    font-size: 6vw;
    margin-bottom: 10px;
  }
  .last-step {
    font-size: 18px;
  }
  .timeline_note {
    transform: translateY(20%);
  }
  .big-title {
    font-size: 24px;
  }
  .bonus-img {
    width: 100%;
    height: auto;
  }
  .not-all .primary {
    font-size: 35px;
  }
  .not-all p {
    font-size: 20px;
  }
  .not-all-item img {
    left: 0;
  }
  .not-all {
    padding: 40px 0;
  }
}
@media (max-width: 320px) {
  .timeline_note {
    font-size: 20px;
  }
}