.header__digits {
    margin-left: 0;
    margin-right: 50px;
}
.row.header-row {
    justify-content: flex-start;
}
.header-zimbitsky {
    background-image: url(../img/form-bg.png);
}
.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right {
    width: 366px;
    box-shadow: 0 0 50px rgba(243, 102, 34, 0.35);
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right, #f44f22 0%,#f78b19 100%);
}
.form-block {
    width: 100%;
    border-radius: 10px;
    background-color: #231f20;
}
.form-block-title {
    color: #fffefe;
    font-family: Circe,Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 35px 0 20px;
    text-align: center;
    line-height: 1.4;
}
.form-block .big-input {
    width: calc(100% - 60px);
    margin: 0 auto 20px;
}
.form-block .checkbox__label .icon-ok-squared {
    color: #666;
    background-color: #ffffff;
}
.checkboxes {
    padding: 0 15px;
    color: #ffffff !important;
}
.form-block .btn-orange3{
    margin: 30px auto 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 80px);
    display: block;
}
@media (max-width: 1023px) {
    .top-container {
        display: block;
    }
    .right {
        width: auto;
        max-width: 450px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 768px) {
    .row.header-row {
        padding-top: 0;
    }
    .form-block .btn-orange3 {
        width: calc(100% - 30px);
        padding-right: 3px;
        padding-left: 3px;
    }
}
